{
  "extends": [
    "next/core-web-vitals",
    "next",
    "plugin:cypress/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["cypress", "prettier", "react-hooks"],
  "rules": {
    "no-console": ["warn", { "allow": ["info", "warn", "error"] }],
    "no-alert": "warn"
  }
}
